{{!--

login form handlebar template

--}}

<div class="row">
    <a href="/register" target="_self" rel="Register" class="page-link">Click here to register!</a>
    <div class="col-sm-12 col-md-4">
        <form class="sign-form" id="signin-form" action="/login" method="POST">
            {{!-- username --}}
            <div class="form-group"><label for="username">Username: <input class="form-control" id="username"
                        name="username" type="text"></label></div>
            {{!-- password --}}
            <div class="form-group"><label for="password">Password: <input class="form-control" id="password"
                        name="password" type="password"></label>
            </div>
            {{!-- button - login --}}
            <div class="form-group"> <button class="form-control btn btn-primary" type="submit">Login</button>
            </div>

            {{#if error }}
            <div class="form-group" id="error_div">
                <div class="error">
                    {{ error }}
                </div>
            </div>
            {{/if}}

            <div class="error" id="error"></div>
        </form>
    </div>
</div>